@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

/*Global styles*/
body {
    font-family: "Comic Neue", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Heading */
.heading {
    text-align: center;
    font-size: 2.5rem;
}

/*game-area styles*/
#main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.game-area p {
    font-size: 1.5rem;
}

.btn-control {
    margin: auto;
    font-size: 1rem;
    background-color: #b2a2e9;
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

.btn-control:hover {
    background-color: #927ed4;
}

#result {
    font-size: 1.5rem;
    margin-top: 50px;
}

.player {
    float: left;
    width: 50%;
}

.computer {
    float: right;
    width: 50%;
}

.scores {
    font-size: 1.25rem;
}

#player-image {
    width: 75%;
}

#computer-image {
    width: 75%;
}

/*footer styles*/
footer {
    background-color: #000000;
    color: white;
    padding: 0.15rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
}

#footer-h {
    font-size: 1.5rem;
    margin: auto;
}

footer,
p {
    margin-top: auto;
    font-size: 0.85rem;
}

/*Media queries*/
@media screen and (min-width: 768px) {
    .heading {
        font-size: 3rem;
    }

    .game-area p {
        font-size: 2rem;
    }

    .btn-control {
        font-size: 1.5rem;
    }

    #result {
        font-size: 2rem;
    }

    .scores {
        font-size: 1.5rem;
    }

    #player-image {
        width: 85%;
    }

    #computer-image {
        width: 85%;
    }

    #footer-h {
        font-size: 1.75rem;
    }

    footer p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .heading {
        font-size: 3rem;
    }

    .game-area p {
        font-size: 2rem;
    }

    .btn-control {
        font-size: 1.5rem;
    }

    #result {
        font-size: 2rem;
    }

    .scores {
        font-size: 1.5rem;
    }

    #player-image {
        width: 95%;
    }

    #computer-image {
        width: 95%;
    }

    #footer-h {
        font-size: 2rem;
    }

    footer p {
        font-size: 1.5rem;
    }
}